.nav-bar {
    height: 8vh; /*same as navigation-menu height */
}
.main-content {
    /* margin is a little more than navigation menu height */
    /* margin-top: 10vh;  */
    border-style: none;
    overflow-y:auto;
    height:92vh;
    background-color: rgb(238, 238, 238);
}