<div [ngClass]="[backGroundClass]" style="height: 100%; width: 100%;">
    <ul  class="nav justify-content-center">
        <li class="nav-item">
            <button class="nav-link transparent-bg" (click)="setCar('3')">Model 3</button>
        </li>
        <li class="nav-item">
            <button class="nav-link transparent-bg" (click)="setCar('Y')">Model Y</button>
        </li>
        <li class="nav-item">
            <button class="nav-link transparent-bg" (click)="setCar('S')">Model S</button>
        </li>
        <li class="nav-item">
            <button class="nav-link transparent-bg" (click)="setCar('X')">Model X</button>
        </li>
    </ul>
    <div class="transparent-bg card" style="text-align: center;">
        <table>
            <tr>
                <th *ngFor="let feature of features">
                    {{feature.featureValue}}
                </th>
            <tr>
            <tr class="desc">
                <td *ngFor="let feature of features">
                    {{feature.featureName}}
                </td>
            <tr>
       </table>
    </div>
</div>
