.main-content-home {
    overflow:auto;
    
}
.banner {
    height: 50vh;
}

.left-content {
    border-style: outset;
    width: 20vw;
    margin-top: 1vw;
    padding: 1em;
    float: left;
    background-color:white;
}

.news-panel {
    border-top-style: inset;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.right-content {
    border-style: outset;
    width: 68vw;
    float: right;
    margin-top: 1vw;
    background-color:white;
}

.right.carousel-control, .left.carousel-control {
    visibility: hidden;
}